# Analysis of Brazilian Higher Education Data

In [1]:
# install googletrans using pip
#!pip install -U deep-translator

In [2]:
# import the library
import pandas as pd
import numpy as np
import googletrans
from deep_translator import GoogleTranslator

## Importing the datasets

In [4]:
# Main dataset we are using to get the university name
ies=pd.read_csv('ies.csv')
ies.head()

,Unnamed: 0,CO_IES,NO_IES,CO_MANTENEDORA,NO_MANTENEDORA,CO_CATEGORIA_ADMINISTRATIVA,CO_ORGANIZACAO_ACADEMICA,CO_MUNICIPIO_IES,CO_UF_IES,VL_RECEITA_PROPRIA,VL_TRANSFERENCIA,VL_OUTRA_RECEITA,VL_DES_PESSOAL_REM_DOCENTE,VL_DES_PESSOAL_REM_TECNICO,VL_DES_PESSOAL_ENCARGO,VL_DES_CUSTEIO,VL_DES_INVESTIMENTO,VL_DES_PESQUISA,VL_DES_OUTRAS,NU_ANO
0,0,33,FACULDADE DE TECNOLOGIA DE SOROCABA,33,GOVERNO DO ESTADO DE SÃO PAULO/CENTRO ESTADUAL...,2,3,3552205,35,0.000000e+00,13426866.08,0.0,6.186638e+06,1.923730e+06,3.194574e+06,1.214948e+06,9.069759e+05,0.0,0.0,2010
1,1,34,FACULDADE DE TECNOLOGIA DE SÃO PAULO,33,GOVERNO DO ESTADO DE SÃO PAULO/CENTRO ESTADUAL...,2,3,3550308,35,0.000000e+00,24052550.12,0.0,1.707473e+07,3.617694e+06,3.319073e+05,3.028221e+06,0.000000e+00,0.0,0.0,2010
2,2,35,FACULDADE DE TECNOLOGIA DE AMERICANA,33,GOVERNO DO ESTADO DE SÃO PAULO/CENTRO ESTADUAL...,2,3,3501608,35,0.000000e+00,6873147.05,0.0,5.213749e+06,7.290626e+05,1.823156e+06,7.184082e+05,2.119270e+05,0.0,0.0,2010
3,3,36,FACULDADE DE TECNOLOGIA RUBENS LARA,33,GOVERNO DO ESTADO DE SÃO PAULO/CENTRO ESTADUAL...,2,3,3548500,35,1.222770e+09,0.00,0.0,4.089774e+08,1.022443e+08,1.298643e+08,2.896769e+08,2.845944e+08,0.0,0.0,2010
4,4,37,FACULDADE DE TECNOLOGIA DE JAHU,33,GOVERNO DO ESTADO DE SÃO PAULO/CENTRO ESTADUAL...,2,3,3525300,35,0.000000e+00,8006753.00,0.0,3.914194e+06,6.299990e+05,1.977702e+06,9.924230e+05,4.924350e+05,0.0,0.0,2010

In [5]:
# second dataset we are using to get the type and area of the universities
cpc=pd.read_csv('cpc.csv')
cpc.head()

,Unnamed: 0,Código da IES,Nome da IES,Categoria Administrativa,Código da Área,Área de Avaliação,Código do Município,Município do Curso,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Conceito Enade (Contínuo),CPC (Contínuo),CPC (Faixa),Ano
0,0,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,PÚBLICA,1,ADMINISTRAÇÃO,510401703403,CUIABA,182.0,98.0,4.059282,3.427768,4,2009
1,1,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,PÚBLICA,2,DIREITO,510401703403,CUIABA,82.0,96.0,4.406282,3.648472,4,2009
2,2,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,PÚBLICA,8,COMUNICAÇÃO SOCIAL,510401703403,CUIABA,23.0,54.0,3.749618,3.172265,4,2009
3,4,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,PÚBLICA,8,COMUNICAÇÃO SOCIAL,510401703403,CUIABA,22.0,56.0,3.570843,3.238201,4,2009
4,5,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,PÚBLICA,8,COMUNICAÇÃO SOCIAL,510401703403,CUIABA,16.0,47.0,0.954331,1.721671,2,2009

## Cleaning the Two Datasets

In [6]:
## getting 2018 data only from ies datasets
ies_2018=ies[ies['NU_ANO']==2018]
## keep the NO_IES
ies_2018=ies_2018['NO_IES'].reset_index().drop(columns=['index'])
ies_2018.columns=['college']
ies_2018

                                                college
0                   UNIVERSIDADE FEDERAL DE MATO GROSSO
1                              UNIVERSIDADE DE BRASÍLIA
2                       UNIVERSIDADE FEDERAL DE SERGIPE
3                      UNIVERSIDADE FEDERAL DO AMAZONAS
4                    UNIVERSIDADE FEDERAL DE OURO PRETO
...                                                 ...
2532  UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...
2533                   FACULDADE DE MEDICINA DE ITAJUBÁ
2534                    INSTITUTO MILITAR DE ENGENHARIA
2535  Faculdade de Educação Avançada do Noroeste Cap...
2536  FACULDADE DE FILOSOFIA CIÊNCIAS E LETRAS DE SÃ...

[2537 rows x 1 columns]

In [7]:
len(ies_2018['college'].unique()) #there is duplicates in college

2512

In [8]:
ies_2018=ies_2018.drop_duplicates()
ies_2018

                                                college
0                   UNIVERSIDADE FEDERAL DE MATO GROSSO
1                              UNIVERSIDADE DE BRASÍLIA
2                       UNIVERSIDADE FEDERAL DE SERGIPE
3                      UNIVERSIDADE FEDERAL DO AMAZONAS
4                    UNIVERSIDADE FEDERAL DE OURO PRETO
...                                                 ...
2532  UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...
2533                   FACULDADE DE MEDICINA DE ITAJUBÁ
2534                    INSTITUTO MILITAR DE ENGENHARIA
2535  Faculdade de Educação Avançada do Noroeste Cap...
2536  FACULDADE DE FILOSOFIA CIÊNCIAS E LETRAS DE SÃ...

[2512 rows x 1 columns]

In [9]:
# Cleaning cpc with only Nome da IES(name),Categoria Administrativa(type), Município do Curso(area) from 2018
cpc_2018=cpc[cpc['Ano']==2018]
cpc_2018=cpc_2018[['Nome da IES','Categoria Administrativa','Município do Curso']].reset_index().drop(columns=['index'])
cpc_2018.columns=['college','unitype','city']
cpc_2018=cpc_2018.drop_duplicates()
cpc_2018

##len(cpc_2018['college'].unique())

,college,unitype,city
0,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,CUIABA
5,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,RONDONOPOLIS
6,UNIVERSIDADE DE BRASÍLIA,Pública Federal,BRASILIA
14,UNIVERSIDADE FEDERAL DE SERGIPE,Pública Federal,SAO CRISTOVAO
16,UNIVERSIDADE FEDERAL DO AMAZONAS,Pública Federal,MANAUS
...,...,...,...
8511,UNIVERSIDADE FEDERAL DO AMAPÁ,Pública Federal,OIAPOQUE
8514,FACULDADE SENAC CAÇADOR,Privada sem fins lucrativos,VIDEIRA
8515,FACULDADE SENAC FLORIANÓPOLIS,Privada sem fins lucrativos,LAGES
8516,FACULDADE SENAC BLUMENAU,Privada sem fins lucrativos,BRUSQUE
8519,FACULDADE DE TECNOLOGIA SENAC AMAZONAS,Privada sem fins lucrativos,MANAUS

## Merging two datasets to one

In [10]:
ies_cpc=pd.merge(ies_2018,cpc_2018,how='left')
ies_cpc

,college,unitype,city
0,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,CUIABA
1,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,RONDONOPOLIS
2,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,BARRA DO GARCAS
3,UNIVERSIDADE DE BRASÍLIA,Pública Federal,BRASILIA
4,UNIVERSIDADE FEDERAL DE SERGIPE,Pública Federal,SAO CRISTOVAO
...,...,...,...
2941,UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...,NaN,NaN
2942,FACULDADE DE MEDICINA DE ITAJUBÁ,NaN,NaN
2943,INSTITUTO MILITAR DE ENGENHARIA,NaN,NaN
2944,Faculdade de Educação Avançada do Noroeste Cap...,NaN,NaN
2945,FACULDADE DE FILOSOFIA CIÊNCIAS E LETRAS DE SÃ...,Pública Municipal,SAO JOSE DO RIO PARDO

In [11]:
#missing data in each column
ies_cpc.isna().sum()

college      0
unitype    792
city       792
dtype: int64

## Filling out some of the missing data in unitype column

In [12]:
#some colleges that have missing type in ies_cpc can be found in the dataset igc
igc=pd.read_csv('igc.csv')
igc_2018=igc[igc['Ano']==2018]
igc_2018=igc[igc['NM_IES']=='FACULDADE DE MEDICINA DE ITAJUBÁ']
igc_2018=igc[['NM_IES','NM_CATEGORIA_ADMINISTRATIVA']]
igc_2018.columns=['college','unitype']
igc_2018=igc_2018.drop_duplicates(subset='college',keep='first')
igc_2018

,college,unitype
0,UNIVERSIDADE FEDERAL DE MATO GROSSO,PÚBLICA
1,UNIVERSIDADE DE BRASÍLIA,PÚBLICA
2,UNIVERSIDADE FEDERAL DE SERGIPE,PÚBLICA
3,UNIVERSIDADE FEDERAL DO AMAZONAS,PÚBLICA
4,UNIVERSIDADE FEDERAL DO PIAUÍ,PÚBLICA
...,...,...
19700,Faculdade de Santana de Parnaíba,Privada sem fins lucrativos
19701,Faculdade de Tecnologia Jorge Caram Sabbag,Pública Estadual
19702,Faculdade de Tecnologia de Assis,Pública Estadual
19703,Faculdade de Tecnologia de Santana de Parnaíba,Pública Estadual
19704,UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...,Pública Estadual

In [13]:
#all the rows that have null unitype
null_data=ies_cpc[ies_cpc['unitype'].isnull()]
null_data

                                                college unitype city
35           FACULDADE PRESBITERIANA MACKENZIE BRASILIA     NaN  NaN
42             ESCOLA NACIONAL DE CIÊNCIAS ESTATÍSTICAS     NaN  NaN
50    UNIVERSIDADE ESTADUAL DE CIÊNCIAS DA SAÚDE DE ...     NaN  NaN
51                    Faculdade de Tecnologia de Araras     NaN  NaN
52                  Faculdade de Tecnologia de Itaquera     NaN  NaN
...                                                 ...     ...  ...
2929                   Faculdade de Educação Paulistana     NaN  NaN
2941  UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...     NaN  NaN
2942                   FACULDADE DE MEDICINA DE ITAJUBÁ     NaN  NaN
2943                    INSTITUTO MILITAR DE ENGENHARIA     NaN  NaN
2944  Faculdade de Educação Avançada do Noroeste Cap...     NaN  NaN

[792 rows x 3 columns]

In [14]:
#filling out some of the missing unitype
for uni in null_data['college']:
    for other in igc_2018['college']:
        if uni==other:
            ind=ies_cpc[ies_cpc['college']==uni].index
            ies_cpc.loc[ind,'unitype']=igc_2018.loc[igc_2018['college']==uni,'unitype'].iloc[0]
ies_cpc

,college,unitype,city
0,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,CUIABA
1,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,RONDONOPOLIS
2,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,BARRA DO GARCAS
3,UNIVERSIDADE DE BRASÍLIA,Pública Federal,BRASILIA
4,UNIVERSIDADE FEDERAL DE SERGIPE,Pública Federal,SAO CRISTOVAO
...,...,...,...
2941,UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...,Pública Estadual,NaN
2942,FACULDADE DE MEDICINA DE ITAJUBÁ,PRIVADA,NaN
2943,INSTITUTO MILITAR DE ENGENHARIA,PÚBLICA,NaN
2944,Faculdade de Educação Avançada do Noroeste Cap...,NaN,NaN
2945,FACULDADE DE FILOSOFIA CIÊNCIAS E LETRAS DE SÃ...,Pública Municipal,SAO JOSE DO RIO PARDO

In [15]:
#missing unitype in ies_cpc changed from 792 to 435
ies_cpc[ies_cpc['unitype'].isnull()]

                                                college unitype city
35           FACULDADE PRESBITERIANA MACKENZIE BRASILIA     NaN  NaN
51                    Faculdade de Tecnologia de Araras     NaN  NaN
52                  Faculdade de Tecnologia de Itaquera     NaN  NaN
55    Faculdade de Tecnologia - Fatec de Ribeirão Preto     NaN  NaN
62           Faculdade de Tecnologia de Pindamonhangaba     NaN  NaN
...                                                 ...     ...  ...
2922                                    Faculdade Cesar     NaN  NaN
2927                 FACULDADE SISTEMA DE ENSINO GAÚCHO     NaN  NaN
2928      Faculdade de Ciências e Tecnologia Paulistana     NaN  NaN
2929                   Faculdade de Educação Paulistana     NaN  NaN
2944  Faculdade de Educação Avançada do Noroeste Cap...     NaN  NaN

[435 rows x 3 columns]

## Uniform text in unitype column

In [16]:
#check how many different entries are in unitype
ies_cpc['unitype'].unique()

array(['Pública Federal', 'Privada sem fins lucrativos', nan,
       'Pública Estadual', 'PÚBLICA', 'Pública', 'Pública Municipal',
       'PRIVADA', 'Especial', 'Privada com fins lucrativos',
       'Privada Sem Fins Lucrativos', 'Privada',
       'PESSOA JURÍDICA DE DIREITO PÚBLICO - MUNICIPAL', 'MUNICIPAL',
       'PRIVADA SEM FINS LUCRATIVOS', 'Privada Com Fins Lucrativos',
       'PRIVADA COM FINS LUCRATIVOS',
       'PESSOA JURÍDICA DE DIREITO PÚBLICO - ESTADUAL',
       'Pessoa Jurídica de Direito Privado - Com fins lucrativos - Sociedade Civil',
       'Pessoa Jurídica de Direito Privado - Sem fins lucrativos - Fundação',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - FUNDAÇÃO',
       'Pessoa Jurídica de Direito Privado - Sem fins lucrativos - Sociedade',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - SOCIEDADE',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - ASSOCIAÇÃO DE UTILIDADE PÚBLICA',
       'PESSOA JURÍDICA DE DIREITO PÚBLICO - FEDERAL',
       'Pessoa Jurídica de Direito Privado - Com fins lucrativos - Sociedade Mercantil ou Comercial',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE CIVIL'],
      dtype=object)

In [17]:
#a dataframe with all the non-null unitype
no_null=ies_cpc[ies_cpc['unitype'].notnull()]

In [18]:
#uniform the unitype column by private or public
for i in no_null.index:
    unitype=ies_cpc.loc[i,'unitype'].lower()
    if 'pública' in unitype or 'público' in unitype:
        ies_cpc.loc[i,'unitype']='Public'
    elif 'privado' in unitype or 'privada' in unitype:
        ies_cpc.loc[i,'unitype']='Private'
    else:
        ies_cpc.loc[i,'unitype']=ies_cpc.loc[i,'unitype']
ies_cpc

,college,unitype,city
0,UNIVERSIDADE FEDERAL DE MATO GROSSO,Public,CUIABA
1,UNIVERSIDADE FEDERAL DE MATO GROSSO,Public,RONDONOPOLIS
2,UNIVERSIDADE FEDERAL DE MATO GROSSO,Public,BARRA DO GARCAS
3,UNIVERSIDADE DE BRASÍLIA,Public,BRASILIA
4,UNIVERSIDADE FEDERAL DE SERGIPE,Public,SAO CRISTOVAO
...,...,...,...
2941,UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...,Public,NaN
2942,FACULDADE DE MEDICINA DE ITAJUBÁ,Private,NaN
2943,INSTITUTO MILITAR DE ENGENHARIA,Public,NaN
2944,Faculdade de Educação Avançada do Noroeste Cap...,NaN,NaN
2945,FACULDADE DE FILOSOFIA CIÊNCIAS E LETRAS DE SÃ...,Public,SAO JOSE DO RIO PARDO

In [19]:
#see how many different entries are in unitype column after cleaning
ies_cpc['unitype'].unique()

array(['Public', 'Private', nan, 'Especial', 'MUNICIPAL'], dtype=object)

## Missing data in city column

In [20]:
#missing data in city
ies_cpc[ies_cpc['city'].isnull()]

                                                college  unitype city
35           FACULDADE PRESBITERIANA MACKENZIE BRASILIA      NaN  NaN
42             ESCOLA NACIONAL DE CIÊNCIAS ESTATÍSTICAS   Public  NaN
50    UNIVERSIDADE ESTADUAL DE CIÊNCIAS DA SAÚDE DE ...   Public  NaN
51                    Faculdade de Tecnologia de Araras      NaN  NaN
52                  Faculdade de Tecnologia de Itaquera      NaN  NaN
...                                                 ...      ...  ...
2929                   Faculdade de Educação Paulistana      NaN  NaN
2941  UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...   Public  NaN
2942                   FACULDADE DE MEDICINA DE ITAJUBÁ  Private  NaN
2943                    INSTITUTO MILITAR DE ENGENHARIA   Public  NaN
2944  Faculdade de Educação Avançada do Noroeste Cap...      NaN  NaN

[792 rows x 3 columns]

In [21]:
ies_cpc.to_csv('ies_cpc.csv') #convert it to csv file

In [22]:
ies_cpc[ies_cpc['unitype']=='Public'] #number of public schools

,college,unitype,city
0,UNIVERSIDADE FEDERAL DE MATO GROSSO,Public,CUIABA
1,UNIVERSIDADE FEDERAL DE MATO GROSSO,Public,RONDONOPOLIS
2,UNIVERSIDADE FEDERAL DE MATO GROSSO,Public,BARRA DO GARCAS
3,UNIVERSIDADE DE BRASÍLIA,Public,BRASILIA
4,UNIVERSIDADE FEDERAL DE SERGIPE,Public,SAO CRISTOVAO
...,...,...,...
2937,UNIVERSIDADE ESTADUAL PAULISTA JÚLIO DE MESQUI...,Public,ROSANA
2938,UNIVERSIDADE ESTADUAL PAULISTA JÚLIO DE MESQUI...,Public,JABOTICABAL
2941,UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...,Public,NaN
2943,INSTITUTO MILITAR DE ENGENHARIA,Public,NaN
2945,FACULDADE DE FILOSOFIA CIÊNCIAS E LETRAS DE SÃ...,Public,SAO JOSE DO RIO PARDO

In [23]:
ies_cpc[ies_cpc['unitype']=='Private'] #number of private schools

                                         college  unitype       city
11    PONTIFÍCIA UNIVERSIDADE CATÓLICA DO PARANÁ  Private   CURITIBA
12    PONTIFÍCIA UNIVERSIDADE CATÓLICA DO PARANÁ  Private    MARINGA
13    PONTIFÍCIA UNIVERSIDADE CATÓLICA DO PARANÁ  Private   LONDRINA
14    PONTIFÍCIA UNIVERSIDADE CATÓLICA DO PARANÁ  Private     TOLEDO
15           UNIVERSIDADE CATÓLICA DE PERNAMBUCO  Private     RECIFE
...                                          ...      ...        ...
2926    FACULDADE DE TECNOLOGIA MACHADO DE ASSIS  Private   CURITIBA
2930                      FACULDADE CASTRO ALVES  Private   SALVADOR
2939       Faculdade de Tecnologia Alpha Channel  Private  SAO PAULO
2940                       Faculdade de Botucatu  Private   BOTUCATU
2942            FACULDADE DE MEDICINA DE ITAJUBÁ  Private        NaN

[1992 rows x 3 columns]

In [25]:
# (STILL IN PROGRESS) translate the columns of the census dataset to English 
#cursos_en=cursos.copy()
#for name in ies_cpc['college']:
    #ies_cpc=ies_cpc.rename({name:GoogleTranslator(source='pt', target='en').translate(name)},axis='rows')

#ies_cpc